.user-info {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 30px;

    &-table {
      margin-top: 20px;
    }

    & .section__content-views {
      margin-top: 0;
    }
  }

  &__detail {
    &-edit-btn {
      color: $primary-color;
    }
  }
}
